body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $000000;
  background: #d8d8d8;
}

a:link, a:visited { color:black; text-decoration: none; font-weight: normal; }
a:active, a:hover { color: #99FF00; text-decoration: underline; }

p {
  margin: 0px;
  padding: 0px;
  text-align: justify;
  /* font-size: 80px; */

}
p.q {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-style: italic;
  font-size: 14px;
  padding: 10px;
  border: 1px solid black; /* Параметры границы */
  background: #d8d8d8;
  /* margin: 7px; /* Значение отступов */ */


}

img {
  margin: 0px;
  padding: 0px;
  border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_10 { margin-right: 10px; }
.margin_right_60 { margin-right: 60px; }

/* .horizontal_divider {
background: url(images/templatemo_horizontal_divider.jpg) bottom repeat-x;
} */

.border_bottom {
  border-bottom: 1px dashed #000;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.rc_btn_01 a {
  clear: both;
  display: block;
  width: 120px;
  height: 25px;
  padding: 5px 0 0 0;
  font-size: 12px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border: none;
  background: url(images/templatemo_button_01.png) no-repeat;
}
.btnSize{
  margin-top: 10px;
  width: 100px;
}
.labelTasks{
  /* text-align: left; */
  font-style: italic;
  font-size: 16px;
  padding-right: 10px;
}
.itemLeft{
  float:left;
  align:left;
}

.dateSize{
  width: 140px;
  height: 25px;
}

#sendTask{
  font-weight: bold;
  font-size: 16px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
}
#size{
  font-style: italic;
  font-size: 16px;
  padding-right: 10px;
}
#usersList{
  width: 150px;
  height: 30px;
}

#templatemo_wrapper_outer {
  width: 100%;
  margin: 0 auto;
}

#templatemo_wrapper_inner {
  width: 980px;
  margin: 0 auto;
  padding: 0 5px;

}

#templatemo_banner {
  width: 980px;
  height: 250px;
  background: url(images/shapka.jpg) no-repeat;
}

/* menu */

#templatemo_menu {
  /* display: flex; */
  clear: both;
  width: 500px;
  height: 65px;
  padding: 0 240px;
  background: url(images/top-menu.jpg) no-repeat;
}
#templatemo_footer {
  clear: both;
  width: 990px;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
  background: #7c91b2;
}

#templatemo_menu ul {
  width: 600px;
  margin: 0px;
  padding: 20px 0 0 15px;
  list-style: none;
}

#templatemo_menu ul li {
  display: inline;
}

#templatemo_menu ul li a {
  float: right;
  padding: 0 20px;
  text-align: right;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
  color: #000000;
}
/* end of menu*/

#templatemo_content_wrapper {
  clear: both;
  width: 960px;
  padding: 10px;
}

.templatemo_content {
  float: left;
  width: 460px;
  padding: 20px 19px 0 19px;
  background: #7c91b2 ;
  border: 1px solid #363434;
}

.header_01 {
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  /*color: #e40b0b;*/
}


.header_02 {
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  /*color: #e40b0b;*/
}

/* .header_03 {
padding: 0 0 5px 0;
font-size: 12px;
font-weight: bold;
color: #ffffff;
/*color: #99be29;*/
} */

.header_03 a { color: #ff0000; text-decoration: none; }
.header_03 a:hover { color: #ff0000; }

.templatemo_side_bar {
  float: left;
  width: 180px;
  padding: 20px 19px 0 19px;
  background: #7c91b2 ;
  border: 1px solid #363434;
}

.templatemo_side_bar ul {
  margin: 0px;
  padding: 0px;
}

.templatemo_side_bar ul li {
  margin: 0px;
  padding: 0 0 0 0;
  margin-bottom: 5px;
  border-left: 5px solid #000;
  list-style: none;
}

.templatemo_side_bar ul li a {
  display: block;
  background: #adf7df;
  padding: 5px 0 5px 10px;
  color: #000000;
  text-decoration: none;
}


/* .templatemo_side_bar form {
  text-align: justify;
  margin: 0px;
  padding: 0px;
} */

form{
  text-align: left;
  display: inline;
}

#search_field {
  padding: 5px 0 0 0;
  height: 20px;
  width: 175px;
  margin-bottom: 10px;
}

#search_button {
  float: right;
  width: 120px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  white-space: pre;
  background: url(images/templatemo_button_02.png) no-repeat;
  color: #000000;
  border: none;
}

.content_section {
  clear: both;
  padding: 0 0 0 0;
}

.content_section p span {
  color: #ffffff;
}

.image_wrapper_01 {
  float: left;
  position: relative;
  margin: 3px 20px 0 0;
  /* background: #ff0000; */
  padding: 4px;
}

.image_wrapper_01 img {
  border: 1px solid #000000;
}

.image_wrapper_02 {
  position: relative;
  margin: 0 0 10px 0;
  /* background: #ff0000; */
  padding: 4px;
}



.image_wrapper_02 img {
  border: 1px solid #000000;
}

/* .image_wrapper img {
border: 1px solid #ff0000;
} */

.latest_news {
  clear: both;
  padding-bottom: 10px;
}



  /* ----------------------------- */
  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    background-color: #023068;
    color: white;
  }
